<div class="modal fade" id="intro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2> REA:Diary </h2>
        <h4> 술 안먹고 운동하고 책 읽고 열심히 잘 살아봅시다. </h4>
        <div class="row"> 
          <div id="calender_image">
            <img src="<%= image_path('calender.png') %>">
          </div>
          <div id="edu_text">
            <ul>
              <li>달력에 그날의 음주/운동/독서량을 표시하세요.</li>
              <li>한줄 일기도 쓸 수 있습니다.</li>
              <li>'통계'에서 내 지난 활동들을 확인하세요.</li>
              <li>자기관리를 못하는 스스로를 자책하고 이만큼 더 성장하세요.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>