/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#diary #preview {
	width: 100%;
	min-height: 120px;
}

#diary #preview:hover {
	background:#EEEEEE;
	cursor:pointer;
}

#diary .table {
overflow:hidden;

	td, th {
		font-family: "나눔고딕";
		font-size: 16px;
		padding: 6px;
		width: 150px;
	}

	th {
		background: #DDD;
		color: #666;
		text-align: center;
	}

	td {
		background: #FFF;
		color: #777;
		vertical-align: top;
		height: 130px;
	    position:relative;

		a {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			color: #777;
			text-decoration: none;
			font-weight:normal;
		}
	}

	.notmonth { color: #CCC; }
	.today { background-color: #affdd5; }
	.beforetoday:hover {background:#EEE;}
}

#diary #month {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	a {
		text-decoration: none;
		padding: 0 10px;
		color: #999;
	}
}

#diary ul {
	font-size: 11px;
	padding-left: 20px;
}

#stat #week_ago .container {
	width:970px;
	text-align: center;

}

#stat #week_ago {
	padding: 30px;

	.col-md-4 {
	background-color: #eeeeee;
    width: 20%;
    margin: 30px 10px 10px 10px;
    padding: 30px;
    display:inline-block;
    float:none;
	}

}



#stat #graph {
	text-align: center;
}

#flash {
	margin:0 auto;
	width:30%;
	text-align: center;
}

#week_ago #change_week {
	font-size:24px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	a {
		text-decoration: none;
		padding: 0 10px;
		color: #999;
	}

}

#join .container {
	background-image: url(asset-path('intro.jpg'));
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	width:100%;
	min-height:100%;
}

#join #sign_in_wrap {
	position: absolute;
	top: 50%;
	right: 10%;
	margin-top: -40px;
	text-align:center;

	#sign_in {
	width: 250px;
	height: 80px;
	font-size: 20px;
	color: black;
	font-weight: bold;


	.btn-info, .btn-info:focus {
		background-color: #0cfe84;
		border-color: #0cfe84;
		outline: none !important;
		line-height:3;
	}

	.btn-info:hover {
		background-color: #0fea7b;
		border-color: #0fea7b;
		outline: none !important;
	}

	.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover {
		background-color: #0fea7b;
		border-color: #0fea7b;
		outline: none !important;
		box-shadow: none;
	}

	}
	}


#intro {
	#calender_image img { 
		width:200px;
		float:left;
		margin:10px 30px 10px 20px;
	}	

	#edu_text {
		margin-top: 50px;
	}

}
